html {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  background-color: #b4357a;
  font-family: placeholder: this should be the rest of the output you got from Google fonts
}

h1 {
  font-size: 80px;
  text-align: center;
  margin: 0;
  padding: 20px 0;    
  color: #ffffff;
}

p, li {
  font-size: 30px;    
  line-height: 2;
  letter-spacing: 1px;
  color: #7abce9;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #253272;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

img
{
	width:500px;
  	display: block;
  	margin: 0 auto;
}
a
{
	font-size: 30px;
	color:#0378c2;
}
button 
{
	display: block;
	margin: 0 auto;
	color: #0378c2;
}